includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app
        - bootstrap/app.php
        - config
        - database
        - public
        - routes

    level: 10
